.container-Navbar {
    color: #fff;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
}

.navbar-link {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: space-evenly;
}

.NavText, .NavText-login {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
}

.NavText:hover, .NavText-login:hover {
    color: rgb(103, 97, 97);
    border-radius: 10px;
}

.download-logo {
    height: 60px;
    width: 65px;
    float: left;
    background-image: url(../images/LOGO.jpg);
    background-size: 74px 66px;
    background-repeat: no-repeat;
    background-position: center;
}

.search-form {
    display: contents;
    position: relative;
    width: 320px;
    margin-left: 20px;
}



.Search-Bar {
    width: 100%;
    height: 40px;
    padding: 0 60px 0 15px; /* Leave space on the right for the button */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.search-form button {
    position: absolute;
    top: 50%;
    right: 10px; /* Position button inside the input field */
    transform: translateY(-50%);
    background-color: #7a8796;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}
.search-form button:hover {
    background-color: #7c7e81;
}

.search {
    margin-left: 10px;
    margin-right: 10px;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-link {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        position: absolute;
        top: 60px; 
        left: 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-link.show {
        display: flex;
    }

    .NavText, .NavText-login, .search, .Search-Bar {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .Search-Bar {
        width: 100%; /* Adjusted width for mobile */
        margin: 5px 0;
    }

    .download-logo {
        margin-bottom: 10px;
    }

    .hamburger-menu {
        display: block;
    }
    .search-form {
        width: 90%; /* Expand width on mobile */
        margin: 10px 0;
    }

    .search-form button {
        right: 5px; /* Adjust position inside the search bar on smaller screens */
    }
}
